.no-information{
    background-color: rgb(245, 109, 137);
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px;
    color: white;
    font-size: 50px;
}

.backtoIndex{
    margin-top: 15px;
    text-align: center;
    font-size: 1.2rem;
}
